In [11]:
#Import libraries
import pandas as pd
import numpy as np

In [12]:
#Load the dataset
df=pd.read_csv("covid_vaccine_statewise.csv")

In [38]:
#Display the data frame
df

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print("The top five rows are: ")
df.head()

The top five rows are:

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [37]:
print("The bottom five rows are: ")
df.tail()

The bottom five rows are:

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
print("The columns present in the dataset are: ")
df.columns

The columns present in the dataset are:

Index(['Updated On', 'State', 'Total Doses Administered', 'Sessions',
       ' Sites ', 'First Dose Administered', 'Second Dose Administered',
       'Male (Doses Administered)', 'Female (Doses Administered)',
       'Transgender (Doses Administered)', ' Covaxin (Doses Administered)',
       'CoviShield (Doses Administered)', 'Sputnik V (Doses Administered)',
       'AEFI', '18-44 Years (Doses Administered)',
       '45-60 Years (Doses Administered)', '60+ Years (Doses Administered)',
       '18-44 Years(Individuals Vaccinated)',
       '45-60 Years(Individuals Vaccinated)',
       '60+ Years(Individuals Vaccinated)', 'Male(Individuals Vaccinated)',
       'Female(Individuals Vaccinated)', 'Transgender(Individuals Vaccinated)',
       'Total Individuals Vaccinated'],
      dtype='object')

In [19]:
df.dtypes

Updated On                              object
State                                   object
Total Doses Administered               float64
Sessions                               float64
 Sites                                 float64
First Dose Administered                float64
Second Dose Administered               float64
Male (Doses Administered)              float64
Female (Doses Administered)            float64
Transgender (Doses Administered)       float64
 Covaxin (Doses Administered)          float64
CoviShield (Doses Administered)        float64
Sputnik V (Doses Administered)         float64
AEFI                                   float64
18-44 Years (Doses Administered)       float64
45-60 Years (Doses Administered)       float64
60+ Years (Doses Administered)         float64
18-44 Years(Individuals Vaccinated)    float64
45-60 Years(Individuals Vaccinated)    float64
60+ Years(Individuals Vaccinated)      float64
Male(Individuals Vaccinated)           float64
Female(Individuals Vaccinated)         float64
Transgender(Individuals Vaccinated)    float64
Total Individuals Vaccinated           float64
dtype: object

In [20]:
#Describe the dataset
print("Dataset Description:")
print(df.describe())

Dataset Description:
       Total Doses Administered      Sessions        Sites
count              7.621000e+03  7.621000e+03   7621.000000  \
mean               9.188171e+06  4.792358e+05   2282.872064
std                3.746180e+07  1.911511e+06   7275.973730
min                7.000000e+00  0.000000e+00      0.000000
25%                1.356570e+05  6.004000e+03     69.000000
50%                8.182020e+05  4.547000e+04    597.000000
75%                6.625243e+06  3.428690e+05   1708.000000
max                5.132284e+08  3.501031e+07  73933.000000

       First Dose Administered  Second Dose Administered
count             7.621000e+03              7.621000e+03  \
mean              7.414415e+06              1.773755e+06
std               2.995209e+07              7.570382e+06
min               7.000000e+00              0.000000e+00
25%               1.166320e+05              1.283100e+04
50%               6.614590e+05              1.388180e+05
75%               5.387805e+06              1.166434e+06
max               4.001504e+08              1.130780e+08

       Male (Doses Administered)  Female (Doses Administered)
count               7.461000e+03                 7.461000e+03  \
mean                3.620156e+06                 3.168416e+06
std                 1.737938e+07                 1.515310e+07
min                 0.000000e+00                 2.000000e+00
25%                 5.655500e+04                 5.210700e+04
50%                 3.897850e+05                 3.342380e+05
75%                 2.735777e+06                 2.561513e+06
max                 2.701636e+08                 2.395186e+08

       Transgender (Doses Administered)   Covaxin (Doses Administered)
count                       7461.000000                   7.621000e+03  \
mean                        1162.978019                   1.044669e+06
std                         5931.353995                   4.452259e+06
min                            0.000000                   0.000000e+00
25%                            8.000000                   0.000000e+00
50%                          113.000000                   1.185100e+04
75%                          800.000000                   7.579300e+05
max                        98275.000000                   6.236742e+07

       CoviShield (Doses Administered)  ...  18-44 Years (Doses Administered)
count                     7.621000e+03  ...                      1.702000e+03  \
mean                      8.126553e+06  ...                      8.773958e+06
std                       3.298414e+07  ...                      2.660829e+07
min                       7.000000e+00  ...                      2.662400e+04
25%                       1.331340e+05  ...                      4.344842e+05
50%                       7.567360e+05  ...                      3.095970e+06
75%                       6.007817e+06  ...                      7.366241e+06
max                       4.468251e+08  ...                      2.243304e+08

       45-60 Years (Doses Administered)  60+ Years (Doses Administered)
count                      1.702000e+03                    1.702000e+03  \
mean                       7.442161e+06                    5.641605e+06
std                        2.225999e+07                    1.681650e+07
min                        1.681500e+04                    9.994000e+03
25%                        2.326275e+05                    1.285605e+05
50%                        2.695938e+06                    1.805696e+06
75%                        6.969726e+06                    5.294763e+06
max                        1.667575e+08                    1.186927e+08

       18-44 Years(Individuals Vaccinated)
count                         3.733000e+03  \
mean                          1.395895e+06
std                           5.501454e+06
min                           1.059000e+03
25%                           5.655400e+04
50%                           2.947270e+05
75%                           9.105160e+05
max                           9.224315e+07

       45-60 Years(Individuals Vaccinated)  60+ Years(Individuals Vaccinated)
count                         3.734000e+03                       3.734000e+03  \
mean                          2.916515e+06                       2.627444e+06
std                           9.567607e+06                       8.192225e+06
min                           1.136000e+03                       5.580000e+02
25%                           9.248225e+04                       5.615975e+04
50%                           8.330395e+05                       7.887425e+05
75%                           2.499280e+06                       2.337874e+06
max                           9.096888e+07                       6.731098e+07

       Male(Individuals Vaccinated)  Female(Individuals Vaccinated)
count                  1.600000e+02                    1.600000e+02  \
mean                   4.461687e+07                    3.951018e+07
std                    3.950749e+07                    3.417684e+07
min                    2.375700e+04                    2.451700e+04
25%                    5.739350e+06                    5.023407e+06
50%                    3.716590e+07                    3.365402e+07
75%                    7.441663e+07                    6.685368e+07
max                    1.349420e+08                    1.156684e+08

       Transgender(Individuals Vaccinated)  Total Individuals Vaccinated
count                           160.000000                  5.919000e+03
mean                          12370.543750                  4.547842e+06
std                           12485.026753                  1.834182e+07
min                               2.000000                  7.000000e+00
25%                            1278.750000                  7.427550e+04
50%                            8007.500000                  4.022880e+05
75%                           19851.000000                  3.501562e+06
max                           46462.000000                  2.506569e+08

[8 rows x 22 columns]

In [21]:
df.describe(include='object')

        Updated On  State
count         7845   7845
unique         213     37
top     16/01/2021  Delhi
freq            37    213

In [22]:
df.isnull()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7841,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7842,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7843,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7844,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [23]:
df.notnull()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
1,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
2,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
3,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
4,True,True,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7841,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7842,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7843,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7844,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7845 non-null   object
 1   State                                7845 non-null   object
 2   Total Doses Administered             7621 non-null   float64
 3   Sessions                             7621 non-null   float64
 4    Sites                               7621 non-null   float64
 5   First Dose Administered              7621 non-null   float64
 6   Second Dose Administered             7621 non-null   float64
 7   Male (Doses Administered)            7461 non-null   float64
 8   Female (Doses Administered)          7461 non-null   float64
 9   Transgender (Doses Administered)     7461 non-null   float64
 10   Covaxin (Doses Administered)        7621 non-null   float64
 11  CoviShield (Doses Administered)      7621 non-null   float64
 12  Sputnik V (Doses Administered)       2995 non-null   float64
 13  AEFI                                 5438 non-null   float64
 14  18-44 Years (Doses Administered)     1702 non-null   float64
 15  45-60 Years (Doses Administered)     1702 non-null   float64
 16  60+ Years (Doses Administered)       1702 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3733 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3734 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3734 non-null   float64
 20  Male(Individuals Vaccinated)         160 non-null    float64
 21  Female(Individuals Vaccinated)       160 non-null    float64
 22  Transgender(Individuals Vaccinated)  160 non-null    float64
 23  Total Individuals Vaccinated         5919 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

In [26]:
df.isnull().sum()

Updated On                                0
State                                     0
Total Doses Administered                224
Sessions                                224
 Sites                                  224
First Dose Administered                 224
Second Dose Administered                224
Male (Doses Administered)               384
Female (Doses Administered)             384
Transgender (Doses Administered)        384
 Covaxin (Doses Administered)           224
CoviShield (Doses Administered)         224
Sputnik V (Doses Administered)         4850
AEFI                                   2407
18-44 Years (Doses Administered)       6143
45-60 Years (Doses Administered)       6143
60+ Years (Doses Administered)         6143
18-44 Years(Individuals Vaccinated)    4112
45-60 Years(Individuals Vaccinated)    4111
60+ Years(Individuals Vaccinated)      4111
Male(Individuals Vaccinated)           7685
Female(Individuals Vaccinated)         7685
Transgender(Individuals Vaccinated)    7685
Total Individuals Vaccinated           1926
dtype: int64

In [35]:
print("The shape is: ")
df.shape

The shape is:

(7845, 24)

In [44]:
#Number of persons state wise vaccinated for first dose in India
print("\n\nNumber of persons state wise vaccinated for first dose in India")
first_dose=df.groupby('State')['First Dose Administered'].max().sort_values(ascending=False)
print(first_dose)

Number of persons state wise vaccinated for first dose in India
State
India                                       400150406.0
Uttar Pradesh                                45932488.0
Maharashtra                                  35040812.0
Madhya Pradesh                               29723036.0
Gujarat                                      28101222.0
Rajasthan                                    27008606.0
Karnataka                                    25847691.0
Bihar                                        23350171.0
West Bengal                                  23257417.0
Tamil Nadu                                   20836674.0
Andhra Pradesh                               17628583.0
Kerala                                       15670747.0
Odisha                                       13954592.0
Telangana                                    11649268.0
Assam                                        10495293.0
Haryana                                      10086831.0
Chhattisgarh                                  9181482.0
Jharkhand                                     8382280.0
Punjab                                        8005636.0
Delhi                                         7835546.0
Jammu and Kashmir                             5318516.0
Uttarakhand                                   5070544.0
Himachal Pradesh                              4249849.0
Tripura                                       2411195.0
Manipur                                       1159424.0
Goa                                           1094392.0
Meghalaya                                      938572.0
Chandigarh                                     700285.0
Arunachal Pradesh                              692475.0
Mizoram                                        654946.0
Nagaland                                       632120.0
Puducherry                                     601591.0
Dadra and Nagar Haveli and Daman and Diu       584370.0
Sikkim                                         497851.0
Andaman and Nicobar Islands                    216046.0
Ladakh                                         188699.0
Lakshadweep                                     51156.0
Name: First Dose Administered, dtype: float64

In [45]:
#Number of persons state wise vaccinated for second dose in India
print("/n/nNumber of persons state wise vaccinated for second dose in India")
second_dose=df.groupby('State')['Second Dose Administered'].max().sort_values(ascending=False)
print(second_dose)

/n/nNumber of persons state wise vaccinated for second dose in India
State
India                                       113077994.0
Maharashtra                                  12112554.0
West Bengal                                   9132961.0
Gujarat                                       9051153.0
Uttar Pradesh                                 8515236.0
Rajasthan                                     8375056.0
Karnataka                                     7432852.0
Kerala                                        6426984.0
Andhra Pradesh                                6214312.0
Madhya Pradesh                                5733640.0
Tamil Nadu                                    4686034.0
Bihar                                         4484768.0
Odisha                                        4200094.0
Telangana                                     3965624.0
Delhi                                         3000536.0
Haryana                                       2923550.0
Chhattisgarh                                  2587695.0
Punjab                                        2285629.0
Assam                                         2208577.0
Jharkhand                                     1996014.0
Uttarakhand                                   1596572.0
Jammu and Kashmir                             1489826.0
Himachal Pradesh                              1382592.0
Tripura                                        804099.0
Goa                                            302519.0
Manipur                                        246694.0
Meghalaya                                      231982.0
Chandigarh                                     223534.0
Mizoram                                        206773.0
Arunachal Pradesh                              186619.0
Nagaland                                       159388.0
Puducherry                                     151771.0
Sikkim                                         151538.0
Andaman and Nicobar Islands                     94597.0
Dadra and Nagar Haveli and Daman and Diu        80851.0
Ladakh                                          70337.0
Lakshadweep                                     17139.0
Name: Second Dose Administered, dtype: float64

In [50]:
#Number of Males vaccinated
print("Number of Males vaccinated")
male_count=df.groupby('State')['Male (Doses Administered)'].max().sort_values(ascending=False)
print(male_count)

Number of Males vaccinated
State
India                                       270163622.0
Uttar Pradesh                                30643444.0
Maharashtra                                  25563569.0
Gujarat                                      20266401.0
Madhya Pradesh                               19265405.0
Rajasthan                                    18618674.0
West Bengal                                  17234284.0
Karnataka                                    16724770.0
Bihar                                        14926420.0
Tamil Nadu                                   12952604.0
Andhra Pradesh                               10852932.0
Kerala                                       10623457.0
Odisha                                        9617376.0
Telangana                                     8068394.0
Haryana                                       7206601.0
Assam                                         6739027.0
Delhi                                         6228216.0
Chhattisgarh                                  5916437.0
Punjab                                        5734736.0
Jharkhand                                     5699723.0
Jammu and Kashmir                             3919555.0
Uttarakhand                                   3405375.0
Himachal Pradesh                              2772475.0
Tripura                                       1646249.0
Manipur                                        759282.0
Goa                                            748770.0
Meghalaya                                      618575.0
Chandigarh                                     524263.0
Arunachal Pradesh                              486874.0
Nagaland                                       451752.0
Dadra and Nagar Haveli and Daman and Diu       444656.0
Mizoram                                        433324.0
Puducherry                                     367047.0
Sikkim                                         354056.0
Andaman and Nicobar Islands                    165554.0
Ladakh                                         146068.0
Lakshadweep                                     37277.0
Name: Male (Doses Administered), dtype: float64

In [51]:
#Number of females vaccinated
print("/n/nNumber of females vaccinated")
female_count=df.groupby('State')['Female (Doses Administered)'].max().sort_values(ascending=False)
print(female_count)

/n/nNumber of females vaccinated
State
India                                       239518609.0
Uttar Pradesh                                23785865.0
Maharashtra                                  21582082.0
Gujarat                                      16880326.0
Rajasthan                                    16758710.0
Karnataka                                    16550206.0
Madhya Pradesh                               16184296.0
West Bengal                                  15151152.0
Andhra Pradesh                               12986129.0
Bihar                                        12902990.0
Tamil Nadu                                   12565628.0
Kerala                                       11470142.0
Odisha                                        8533720.0
Telangana                                     7543612.0
Assam                                         5962985.0
Chhattisgarh                                  5851349.0
Haryana                                       5801370.0
Jharkhand                                     4676520.0
Delhi                                         4605508.0
Punjab                                        4555264.0
Uttarakhand                                   3259384.0
Jammu and Kashmir                             2887608.0
Himachal Pradesh                              2858812.0
Tripura                                       1568576.0
Goa                                            648014.0
Manipur                                        646498.0
Meghalaya                                      551829.0
Mizoram                                        428257.0
Chandigarh                                     399424.0
Arunachal Pradesh                              391993.0
Puducherry                                     386171.0
Nagaland                                       339640.0
Sikkim                                         295116.0
Dadra and Nagar Haveli and Daman and Diu       220429.0
Andaman and Nicobar Islands                    145049.0
Ladakh                                         112942.0
Lakshadweep                                     31013.0
Name: Female (Doses Administered), dtype: float64

In [52]:
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'